@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sidebar-bg: 34 35 39;
    --sidebar-active: 23 24 26;
    --sidebar-hover: 49 50 54;
    --sidebar-text: 241 241 242;
    --sidebar-text-muted: 166 168 172;
    --accent: 34 35 39;
    --accent-hover: 14 15 19;
    --brand-red: 200 16 46;
    --text-primary: 34 35 39;
    --bg-primary: 243 243 244;
    --brand-50: 239 246 255;
    --brand-500: 59 130 246;
    --brand-600: 37 99 235;
    --brand-700: 29 78 216;

    font-size: 16px;
  }

  html.dark {
    --sidebar-bg: 24 25 27;
    --sidebar-active: 16 17 19;
    --sidebar-hover: 40 41 44;
    --sidebar-text: 237 237 239;
    --sidebar-text-muted: 166 168 172;
    --accent: 237 237 239;
    --accent-hover: 255 255 255;
    --brand-red: 226 58 84;
    --text-primary: 237 237 239;
    --bg-primary: 24 25 27;
    --brand-50: 30 41 59;
    --brand-500: 59 130 246;
    --brand-600: 96 165 250;
    --brand-700: 147 197 253;
  }

  body {
    @apply bg-[rgb(var(--bg-primary))] text-[rgb(var(--text-primary))] antialiased;
  }
}
